<ion-view title="{{recipe.nome}}">


    <ion-content class="has-header padding">

  	<span class="item">
        <div class="item item-avatar">
            <img src="{{recipe.path_img}}">
            <h2>{{recipe.nome}}</h2>
            <p>Prato para: {{recipe.numPessoas}} pessoas</p>
        </div>
            <div class="col-center" style="text-align: center;">
                <img class="full-image" src="{{recipe.path_img}}"
                     style="max-height:270px;width:auto;border:6px groove rgba(220,20,20,0.4);margin:20px;">
            </div>
            <h4><strong>Ingredientes</strong></h4>
            <a ng-repeat="ingrediente in recipe.ingredientes">
            	<p>{{ingrediente.ingrediente.nome}} {{ingrediente.quantidade}} {{ingrediente.medida}}</p>
            </a>
            <p></p>
            <h4><strong>Modo De Preparo</strong></h4>
            <textarea style="font-size:14px;">-{{recipe.modoPreparo}}</textarea>
            <br>
            <h4><strong>Informação Nutricional</strong></h4>
            <textarea style="font-size:14px;">-{{recipe.infoNutri}}</textarea>
            <label>
                <a href="#" class="subdued">Nota: {{getNota(recipe)}}</a>
            </label><br>
            <label >Dar Nota</label><br>
            <input class="col-sm-3" type="number" max="10" ng-model="nota" value="0" style="border:1px solid;">
            </label>
            <button ng-click="sendNota(recipe.id, nota)" style="margin: 5px;">ok</button>

  	</span>
    </ion-content>

</ion-view>
