<ion-view title="Inicio">
    <ion-content class="has-header padding">
        <h3 class="center"> Bem Vindo!</h3>
        <div align="center"> 
        	<img class="full-image" src="img/logoapp.jpg"
                     style="max-height:400px;width:400px;border:6px groove rgba(220,20,20,0.4);margin:70px;">
            <h4 class="center"> Chega de miojo, chega de cuscuz, agora você pode ter </h4>
           <h4 class="center"> 	as melhores opções baseadas no que você dispõe na geladeira</h4>
		</div>
    </ion-content>
</ion-view>
