<ion-view title="Receitas Restritas">
   <ion-content class="has-header">
        <ion-list>
          <div class="list">
          
            <div class="item item-input-inset" style="height:75px;">
              <label class="item-input-wrapper" style="height:45px;">
                <input id="ingrediente" type="text" placeholder="ingrediente" ng-model="ing" style="font-size:25px;">
              </label>
              <a class="button button-icon icon ion-plus-circled" style="font-size:30px;" ng-click="addIng(ing)"></a>
            </div>
          </div>
          <div style="margin:20px;">
            <h4>  Ingredientes:</h4>
            <div class="item item-divider">
              
              <a ng-repeat="ingrediente in ingredientes" class="button button-outline button-balanced"
                  style="margin:10px;">
               {{ingrediente}}
              </a>
              <a class="button icon-right ion-chevron-right button-calm" style="margin:10px;float:right;" ng-click="send()">Pesquisar</a>
            </div>
          </div>
          <br>
          <ion-item ng-repeat="recipe in recipes" type="item-text-wrap" href="#/tab/recipe/{{$index}}">
              <label  class="ion-fork" style="font-size:30px;margin-left:20px;" >
              </label>
              <i style="margin-left:20px;">
              {{recipe.nome}}
              </i>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>