<ion-view title="Receitas" class="bg1">
    <ion-content class="has-header bg1" style="">
        <ion-list>
            <div class="list bg1">
                <small style="margin-left:20px;">
                    Adicione seus ingrediente e pesquise suas receitas!</small>
                <div class="item item-input-inset bg1" style="height:75px;padding:0px;">
                    <label class="item-input-wrapper bg1" style="height:45px;border: 1px solid rgba(0,0,0,0.2);">
                        <input id="ingrediente" type="text" placeholder="ingrediente" ng-model="ing"
                               style="font-size:25px;">
                    </label>
                    <a class="button button-icon icon ion-plus-circled" style="font-size:30px;"
                       ng-click="addIng(ing)"></a>
                </div>
            </div>
            <div style="margin:20px;margin-bottom:0px;">
                <h4> Ingredientes Para Pesquisar:</h4>

                <small>aperte no ingrediente para removê-lo</small>
                <div id='div_ingredientes' style="border: 1px solid rgba(0,0,0,0.2);min-height:4px;margin-bottom:10px;">

                    <a ng-repeat="ingrediente in ingredientes"
                       class="button button-outline button-balanced"
                       style="margin:10px;" ng-click="delIng($index)">
                        {{ingrediente}}
                    </a>
                </div>
                <a class="button button-small icon-right ion-chevron-right button-calm"
                       style="float:right;margin-left:5px;" ng-click="send()">Pesquisar</a>
                <a class="button button-small button-dark"
                     style="float:right;" ng-click="clearIngs(); clearRecipe();">
                        Limpar
                </a>

                <br>
            </div>

        </ion-list>
    </ion-content>
</ion-view>
